
.blog-image{
    height: 300px;
    width: 400px;
    
}


  .blogList-h{
    font-size: 25px;
  }
  .bolg-list-box{
margin-right: 160px;    
}

.ReadMore-btn{
    border-radius: 80px;
    border: 1px solid #000000;

}
.ReadMore-btn:hover{
    background-color: rgb(4, 34, 24);
    color: #f8f8f8;
}
