.about {

    text-align: center;
    font-size: 38px;
}

.about-small {
    color: #6a7179;
    text-align: center;
    font-size: 18px;
}

.about-color {
    background-color: #e8ebed57;
    padding: 35px;
    border-radius: 0%;
    border: 1px solid #f8f9fa;

}
.welcome{
    font-size: 62px;

}
.terms{
    margin: 20px;
    padding: 9px;
    padding-left: 71px;
}
.wel-small{
    font-size: 17px;
    color: #7c8da1;

}
.terminology{
    font-size: 35px;

}