.about {

    text-align: center;
    font-size: 38px;
}


.about-color {
    background-color: #e8ebed57;
    padding: 35px;
    border-radius: 0%;
    border: 1px solid #f8f9fa;

}

.bodys1 {
  padding-top: 100px;
    background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh; 
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.forms1 {
  padding: 20px;
  margin: 20px;
  height: 500px;
  width: 35%;
  border-radius: 0%;
  border: 1px solid #eee9e9;

  background-color:#e8ebed57 ;
 
}
.text-colors1{
  color: rgb(5, 5, 5);
  margin-left: 20px;
}
.button-colors1{
  color: rgb(248, 246, 246);
  background-color: rgb(11, 46, 25);
  width: 390px;
  height: 50px;
  margin-left: 20px;
}
.forgetPass{
    color: rgb(18, 99, 68);
    font-size: 17px;
    margin-left: 90px;
}
.Or{
    
    text-align: center;
    color: rgb(10, 10, 10);
    background-color: rgb(255, 255, 255);
    width: 70px;
    height: 30px;
    padding: 3px;
    margin-left: 170px;

}

.face-box{
    margin-left: 2px;
    color: rgb(10, 10, 10);
    background-color:#e8ebed57;
    width: 240px;
    height: 62px;
    padding: 10px;
    border-radius: 0px;
}
.face-box:hover{
    background-color: rgb(10, 10, 10);
    color: #fcfcfc;
}
.fblogos{
    width:30px;
    height: 30px;
    
}



