.error{
    font-size: 150px;
    margin-left: 230px;
    padding-top: 200px;
    font-weight: bolder;
}

.Server-error{
    font-size: 30px;
    margin-left: 240px;
    font-weight: bold;

}
.Server-error2{
    font-size: 17px;
    margin-left: 240px;


}